@import 'swiper/css';

//文字字型
.raleway {
    font-family: "Raleway", serif;
}
  
.open-sans {
    font-family: "Open Sans", serif;
}

.roboto{
    font-family: "Roboto", serif;
}

.pr-85{
    padding-right: 85px;
}
.pl-85{
    padding-left: 85px;
}

.me-16{
    margin-right: 16px;
}
.me-4{
    margin-right: 4px;
}
.mb-8{
    margin-bottom: 8px;
}

.mb-24{
    margin-bottom: 24px;
}

//文字大小
.f12{
    font-size: 12px;
}
.f14{
    font-size: 14px;
}

.f16{
    font-size: 16px;
}

.f24{
    font-size: 24px;
}

//文字顏色
.gray61{
    color: #00000061;
}
.graylight{
    color: #00000099;
}

//特別icon大小
.table-icons{
    width: 48px;
    height: 24px;
}