<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <p>© 2020 ALOHA, Inc. All rights reserved.</p>
            <ul class="list-unstyled">
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Terms of use</a></li>
                <li><a href="#">Privacy policy</a></li>
            </ul>
        </div>
        <div class="footer-dropdown">
            <div class="footer-select mr-3">
                <i class="fa-solid fa-globe"></i>
                <select class="custom-select form-select" name="language" id="language-select" aria-label="Select language">
                    <option selected>English</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Japan">Japan</option>
                </select>
            </div>
            <div class="footer-select">
                <i class="fa-solid fa-dollar-sign fw-bold"></i>
                <select class="custom-select form-select" name="currency" id="currency-select" aria-label="Select currency">
                    <option selected>TWD</option>
                    <option value="HK">HK</option>
                    <option value="JP">JP</option>
                </select>
            </div>
        </div>
        
    </div>
</footer>