<nav class="navbar sticky-top shadow bg-white">
    <!-- 網頁版顯示 -->
    <div class="container">
        <h1><a href="index.html" class="navbar-brand text-primary fw-bold">悠宿 EasyStay</a></h1>
        <ul class="navbar-nav topMenu d-lg-flex d-none d-lg-block flex-row justify-content-lg-center">
            <li class="nav-item page">
                <a class="nav-link" href="index.html" >Home</a>
            </li>
            <li class="nav-item page">
                <a class="nav-link ms-5" href="filterSearchPage.html">Product</a>
            </li>
            <li class="nav-item page">
                <a class="nav-link ms-5" href="aboutUs.html">About Us</a>
            </li>
            <li class="nav-item page">
                <a class="nav-link ms-5" href="signUpPage.html">Sign up</a>
            </li>
            <li class="nav-item page">
                <a class="nav-link ms-5" href="loginPage.html">Login</a>
            </li>
        </ul>
    </div>

    <!--手機版顯示 menu展開按鈕 -->
    <button class="navbar-toggler border-0 d-md-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <!-- 手機版顯示 -->
    <div class="offcanvas offcanvas-top " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="height: 35%">
        <div class="offcanvas-header bg-white">
            <h5 class="offcanvas-titl text-primary" id="offcanvasNavbarLabel">悠宿 EasyStay</a></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bg-white">
            <ul class="navbar-nav menu text-center">
                <li class="nav-item page">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item page">
                    <a class="nav-link" href="filterSearchPage.html">Product</a>
                </li>
                <li class="nav-item page">
                    <a class="nav-link" href="aboutUs.html">About Us</a>
                </li>
                <li class="nav-item page">
                    <a class="nav-link" href="signUpPage.html">Sign up</a>
                </li>
                <li class="nav-item page">
                    <a class="nav-link" href="loginPage.html">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
