<footer class="nodropfooter">
    <div class="container">
        <p>© 2020 ALOHA, Inc. All rights reserved.</p>
        <ul class="list-unstyled">
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Terms of use</a></li>
            <li><a href="#">Privacy policy</a></li>
        </ul>
    </div>
</footer>