
<div class="offcanvas offcanvas-bottom h-auto showamount" style="background-color: none;" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-body show-amount small">
        <div class="container">
            <div class="room-price">
                <span>1 room · 2 night</span>
                <p>TWD 3,960</p>
            </div>
            <div class="room-price-btns">
                <a href="#" class="btn btn-outline-light text-uppercase">cancel</a>
                <a href="reservationDetails.html" class="btn btn-primary text-uppercase">reserve</a>
            </div>
        </div>
    </div>
  </div>