.goTop {
    position: fixed;
	right: 10px;
	bottom: 10px;
	//圖示水平移動位置
	transform: translateX(0);
	transition: transform 0.2s;
	//圖示隱藏
	&.hide {
		transform: translateX(120%);
	}
    .goTopBtn {
        background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		.fa-arrow-alt-circle-up {
			color: #dfa33a ;
		}
    }
}