

.my-booking{
    margin-top: 24px;
    height: 79vh;
    .container{
        display: flex;
        justify-content: center;
        gap: 30px;
        .booking-info{
            width: 100%;
        }
        .booking-status{
            gap: 24px;
            margin-bottom: 24px;
        }
        .card{
            width: 730px;
            display: flex;
            flex-direction: row;
            border: none;
            .card-body{
                padding: 21px 17px;
            }
            .booking-img{
                img{
                    width: 255px;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px 0px 0px 8px;
                }
            }
            .card-content{
                li{
                    margin-bottom: 9px;
                }
                i{
                    margin-right: 17px;
                    width: 22px;
                    height: 15px;
                    //font-size: 18px;
                }
                p{
                    font-size: 16px;
                    font-weight: bold;
                    font-family: "Open Sans", serif;
                }
                span{
                    color: #00000099;
                    font-size: 14px;
                }
            }
            .card-body{
                align-items: start;
            }
            .card-btn{
                .btn{
                    font-size: 14px;
                    font-family: "Open Sans", serif;
                    padding: 0;
                }
            }
        }
        .user-details{
           width: 350px;
        }
        .profile-info{
            margin-bottom: 25px;
            .profile-toptitle{
                align-items: center;
                h2{
                    font-size: 24px;
                    font-family: "Raleway", serif;
                    color: #000000DE;
                    margin-bottom: 0;
                    margin-right: 8px;
                }
                .badge-tag{
                    font-size: 12px;
                    border-radius: 13px;
                    padding: 4px 8px;
                    width: 88px;
                    height: 26px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .booking-user-details{
            border-radius: 8px;
            .card{
                display: none;
            }
            .list-group-item{
                padding: 24px;
                background-color: #F1F0F8;
                border-bottom: none;
                h5{
                    margin-bottom: 24px;
                }
                p{
                    font-size: 14px;
                    color: #00000099;
                }
                .payment-info{
                    justify-content: center;
                    display: flex;
                    gap: 8px;
                    li{
                        width: 147px;
                        background-color: #FFFFFF;
                        padding: 16px;
                        border-radius: 4px;
                    }
                    .add-info{
                        padding: 33px 57px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .users-details-mobile{
                display: none;
            }
        }
    }
    h2{
        color: #000000DE;
        font-size: 24px;
        font-family: "Raleway", serif;
        margin-bottom: 24px;
    }
}

@media (max-width:1200px){
    .my-booking{
        .container{
            display: flex;
            flex-direction: column-reverse;
            .user-details{
                width: 100%;
            }
        }
        .user-details{
            .booking-user-details{
                width: 100%;
                .list-group-item{
                    .payment-info{
                        display: flex;
                        justify-content: start;
                    }
                    
                }
            }
        }
    }
    
}

@media (max-width:992px){
    .my-booking{
        .container{
            flex-direction: column-reverse;
            .booking-info{
                margin-bottom: 54px;
            }
            .user-details{
                width: 100%;
            }
            .booking-user-details{
                .list-group{
                    display: none;
                }
                .card{
                    background-color: #F1F0F8;
                    display: block;
                    padding: 24px;
                    .card-body{
                        display: flex;
                        gap: 81px;
                    }
                    h5{
                        font-family: "Open Sans", serif;
                        font-size: 16px;
                        margin-bottom: 24px;
                    }
                    .users-details{
                        img{
                            width: 64px;
                            height: 64px;
                            border-radius: 8px;
                            object-fit: cover;
                        }
                    }
                    .users-details-info{
                        gap: 16px;
                        display: flex;
                        justify-content: start;
                        p{
                            font-size: 14px;
                            color: #00000099;
                        }
                    }
                    .payment-info{
                        margin-bottom: 0;
                        gap: 8px;
                        li{
                            width: 147px;
                            background-color: #FFFFFF;
                            padding: 16px;
                            border-radius: 4px;
                        }
                        .add-info{
                            padding: 33px 57px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        p{
                            font-size: 14px;
                            color: #00000099;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        
    }
}

@media (max-width:768px){
    .my-booking{
        .container{
            .user-details{
                .card{
                    width: 100%;
                    padding: 16px;
                    .card-body{
                        gap: 0;
                        display: flex;
                        padding: 0;
                        flex-direction: column;
                        
                    }
                    .users-details{
                        display: none;
                    }
                    .users-details-mobile{
                        margin-bottom: 24px;
                        display: block;
                        .list-group-item{
                            padding: 0;
                        }
                    }
                    .users-payment-methods{
                        width: 100%;
                    }
                }
            }
            .booking-info{
                margin-bottom: 48px;
                .card{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .booking-img{
                        width: 100%;
                        img{
                            width: 100%;
                            border-radius: 8px 8px 0 0;
                        }
                    }
                    
                    .card-body{
                        padding: 29px 25px;
                        background-color: #F1F0F8;
                        display: flex;
                        flex-direction: column;
                        ul{
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
                hr{
                    display: none;
                }
            }
        }
    }
}