

.reservation-details{
    margin-top: 24px;
    .container{
        //margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 30px;
        .reservation-form{
            width: 350px;
            flex-direction: column;
            p{
                font-size: 14px;
            }
            h2{
                margin-bottom: 24px;
                font-size: 32px;
                font-family: "Raleway", serif;
                text-align: start;
            }
            input{
                height: 56px;
                border-radius: 4px;
                border: 1px solid #00000060;
            }
            .btn{
                height: 56px;
                border-radius: 4px;
            }
        }
        .booking-details{
            height: auto;
            width: 350px;
            margin-bottom: 210px;
            .list-group{
                list-style: none;
            }
            h3{
                font-family: "Open Sans", serif;
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 16px;
            }
            .list-group-item{
                background: #F1F0F8;
                padding: 24px;
                p{
                    color: #00000099;
                    font-size: 14px;
                    font-family: "Open Sans", serif;
                }
                .detail-item{
                    display: flex;
                    justify-content: space-between;
                }
                .total-price{
                    font-weight: bold;
                    color: #000000;
                }
            }
        }
        .reservation-mobile{
            display: none;
        }
    }
}



@media (max-width:992px){
    .reservation-details{
        .container{
            .reservation-mobile{
                display: none;
            }
        }
    }
}

@media (max-width:768px){
    .reservation-details{
        margin-top: 0;
        .container{
            padding: 0;
            gap: 0;
            width: 100%;
            flex-direction: column-reverse;
            .booking-details{
                display: none;
            }
            .reservation-form{
                position: relative;
                z-index: 1;
                width: 100%;
                margin-top: 24px;
                padding:  0 15px;
            }
            .reservation-mobile{
                display: block;
                .accordion{
                    position: relative;
                    z-index: 10;
                    .accordion-item{
                        position: relative;
                    }
                }
                .accordion-collapse{
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    z-index: 9999;
                }
                .accordion-button{
                    background: #F1F0F8;
                    padding: 0 12px;
                    margin-bottom: 0;
                    min-height: 60px; /* 根據你預期的高度調整 */
                    &:not(.collapsed) {
                        .accord-title {
                            visibility: hidden;
                            position: absolute;
                            pointer-events: none;
                        }
                    }
                    &::after{
                        margin-left: 0;
                    }
                    .accord-title{
                        color: #00000099;
                        padding: 18px 15px;
                        font-size: 14px;
                        margin-bottom: 0;
                        font-family: "Open Sans", serif;
                        span{
                            margin-left: 8px;
                            font-weight: bold;
                            color: #000000DE;
                        }
                    }
                }
                .accordion-body{
                    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
                    padding: 0;
                    border: none;
                    .list-group-item{
                        background: #F1F0F8;
                        border-left: none;
                        border-right: none;
                        border-top: none;
                        border-radius: 0;
                    }
                    h3{
                        font-size: 16px;
                        font-weight: bold;
                        font-family: "Open Sans", serif;
                        margin-bottom: 16px;
                    }
                    p{
                        color: #00000099;
                        font-size: 14px;
                        font-family: "Open Sans", serif;
                        margin: 0 0 8px 0;
                    }
                    .detail-item{
                        display: flex;
                        justify-content: space-between;
                        .total-price{
                            font-weight: bold;
                            color: #000000;
                        }
                    }
                }
            }
        }
    }
}