<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layout/head'); -%>
    <title>關於我們</title>
</head>
<body>
    <%- include('./layout/header'); -%>

    <div class="about-us">
        <div class="container">
            <h3>「住」一段風景，輕輕開始旅行</h3>
            <p>
                悠宿 EasyStay，是為熱愛旅行的靈魂準備的一處歇腳處。無論是山城巷弄的老宅、海邊曬太陽的木屋，還是城市裡的一隅靜謐，我們為你串連每一
                段旅程中的溫柔日常。EasyStay 相信，旅行不只是抵達目的地，而是在每一次落腳時，與一個地方相遇的方式。簡單預訂，無需繁複，讓你把時間留
                給風景，把心留給自己。打開 EasyStay，選一個地方，安心地住下來，然後出發，用雙腳寫下屬於你的故事。
            </p>
            <p>
                旅行不該只是從 A 點到 B 點的移動，而是每一段停留，都有它的意義。
                悠宿 EasyStay，誕生於對生活節奏的一種溫柔抗衡。我們相信，好的住宿不是豪華堆砌，而是剛剛好的溫度、剛剛好的空間，還有讓你卸下疲憊的那一盞燈。
                從城市轉角的設計旅店，到鄉間老屋裡的午後陽光，EasyStay 為你蒐羅每一種「住得舒服」的可能。
                讓選擇住宿，不再只是必要，而是一場與地方深度對話的開始。你的旅程，我們幫你留一盞燈。
            </p>
            <a href="index.html">就讓我們一起開始旅行吧! ~ ~</a>
        </div>
        <img src="../assets/images/旅行_爱给网_aigei_com.gif" alt="">
    </div>

    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
</body>
</html>